{% extends 'blogapp/base_container.html' %}
{% block content %}

<header class="p-3 border-bottom mb-5">
    <i class="fa-solid fa-file-circle-plus fa-2xl"></i>
    <span class="fs-4 ms-3 fw-bold">Dodaj nowy temat</span>
</header>

<div class="row justify-content-center">
  <div class="col-10 col-lg-8 p-5 border border-secondary rounded">

<form action="{% url 'blogapp:new_topic' %}" method = 'post' enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Tytuł tematu:</label>
      {{form.title}}
    </div>
    <div class="mb-3">
      <label for="description" class="form-label fw-bold">Opis tematu:</label>
      {{form.description}}
      <div class="form-text">Opis tematu w kilku zdaniach.</div>
    </div>
    <div class="mb-5">
      <label for="text" class="form-label fw-bold">Treść tematu:</label>
      {{form.text}}
      <div class="form-text">Przykład: &lt;h4&gt;Twój nagłówek&lt;/h4&gt; &lt;p&gt;Twoja treść&lt;/p&gt;</div>
    </div>
    <div class="mb-5">
        <label for="header_image" class="form-label fw-bold">Zdjęcie tematu:</label>
        {{form.header_image}}
    </div>
    <div class="mb-3">
      <label for="description" class="form-label fw-bold">Opis grafiki</label>
      {{form.header_image_description}}
      <div class="form-text">Krótki opis grafiki.</div>
    </div>
    <button type="submit" class="btn btn-secondary ff-rd">Zapisz</button>
  </form>
  </div>
</div>




<script>
    var form_fields = document.getElementsByTagName('input')
    for (var field in form_fields){	
      form_fields[field].className += ' form-control'
    }
    var form_fields = document.getElementsByTagName('textarea')
    for (var field in form_fields){	
      form_fields[field].className += ' form-control'
    }
  </script>

{% endblock content %}