{% extends 'blogapp/base_container.html' %}
{% block content %}

<header class="p-3 border-bottom mb-5">
    <i class="fa-solid fa-file-circle-question fa-2xl"></i>
    <span class="fs-4 ms-3 fw-bold">Oczekujące tematy</span>
</header>

{% if topics %}
<table class="table">
  <thead>
    <tr class="text-secondary">
      <th scope="col">Tytuł</th>
      <th scope="col">Utworzono</th>
      <th scope="col">Zmodyfikowano</th>
      <th scope="col">Autor</th>
      <th scope="col">Edytuj</th>
      <th scope="col">Usuń</th>
      <th scope="col">Zatwierdź</th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topics %}
      <tr>
        <td><a class="text-decoration-none fst-italic text-dark" href="{% url 'blogapp:topic' topic.id %}">{{topic.title}}</a></td>
        <td>{{topic.date_created|date:"d-m-y"}}; {{topic.date_created|time:"H:i"}}</td>
        <td>{{topic.date_modified|date:"d-m-y"}}; {{topic.date_modified|time:"H:i"}}</td>
        <td ><a class="text-dark" href="{% url 'users:view_account' topic.owner.username %}">{{topic.owner}}</a></td>
        <td class="ps-4"><a class="link-secondary" href="{% url 'blogapp:edit_topic' topic.id %}"><i class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
        <td class="ps-3"><a class="link-secondary" href="{% url 'blogapp:delete_topic' topic.id %}"><i class="fa-solid fa-trash-can fa-xl"></i></a></td>
        <td>
          <form action="{% url 'blogapp:confirm_topic' topic.id %}" method ='post'>
            {% csrf_token %}
            <button type ='submit' class="btn btn-secondary btn-sm ms-4 rounded-circle text-light">&#10003;</button>
          </form>
        </td>        
      </tr>      
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="p-3 fw-bold text-center">Brak tematów oczekujących na zatwierdzenie</p>
  <p class="text-center"><i class="fa-light fa-loader"></i></p>
{% endif %}

{% endblock content %}