{% extends 'blogapp/base_container.html' %}
{% load static %}
{% block content %}


<header class="p-3 border-bottom mb-5">
    <i class="fa-solid fa-list fa-2xl"></i>
    <span class="fs-4 ms-3 fw-bold">Regulamin serwisu</span>
</header>

<div class="container termsList bg-light p-3 border border-secondary">
  <ol><h3>I. Zasady ogólne korzystania z serwisu Geostrat.pl</h3>
    <li>Niniejszy regulamin, zwany dalej Regulaminem, określa zasady korzystania z serwisu Geostrat.pl.</li>
    <li>Z serwisu może korzystać każda osoba zarejestrowana, zwana dalej Użytkownikiem. Rejestracja w serwisie wymaga akceptacji Regulaminu, a nie stosowanie się do zawartych w nim wytycznych grozi zablokowaniem lub usunięciem konta Użytkownika.</li>
    <li>Geostrat.pl jest serwisem popularnonaukowym.</li>
    <li>Regulamin może zostać zmieniony, o czym Administracja zobowiązuje się do poinformowania Użytkowników przed pierwszym ich logowaniem po zmianie Regulaminu. Odmowa akceptacji Regulaminu jest równoznaczna z brakiem możliwości korzystania z konta.</li>
    <li>Administracja szanuje prywatność swoich Użytkowników, serwis nie rozsyła niechcianych maili, tzw SPAMu.</li>
    <li>Administracja zastrzega sobie możliwość modyfikacji serwisu, także jego likwidację.</li>
  </ol>

  <ol><h3>II. Rejestracja w serwisie</h3>
    <li>Rejestracja w serwisie jest bezpłatna.</li>
    <li>W wyniku rejestracji tworzone jest konto, z którego Użytkownik może korzystać po zalogowaniu. Użytkownik w każdej chwili może zmienić lub usunąć własne dane, umieszczone w swoim profilu. Nie dotyczy to jedynie jego loginu i hasła.</li>
  </ol>

  <ol><h3>III. Działy i funkcjonalności serwisu.</h3>
    <li>Serwis Geostrat.pl składa się z artykułów popularno-naukowych, widocznych na stronie głównej, oraz galerii zdjęć.</li>
    <li>Na portalu automatycznie pojawiają się najpopularniejsze ostatnio dodane tematy. Oglądanie treści serwisu nie wymaga rejestracji.</li>
  </ol>

  <ol><h3>IV. Zasady tworzenia nowych tematów oraz pisania komentarzy</h3>
    <li>Tworzyć nowe tematy i komentować mogą jedynie Użytkownicy serwisu.</li>
    <li>Każde zdjęcie powinno być opatrzone tekstem, opisującym jego zawartość. Nie należy używać CAPSLOCKa.</li>
    <li>Nazwy, opisy oraz treść tematów i komentarzy powinny być zgodne z ogólnie przyjętymi normamim języka polskiego</li>
    <li>Przed dodaniem zdjęć należy usunąć z nich wszelkie dane identyfikacyjne osób znajdujących się na zdjęciu.</li>
    <li>Umieszczając w serwisie zdjęcia użytkownik zgadza się na uczynienie ich ogólnodostępnymi w sieci Internet, włączając w to ich pobieranie i dalszą modyfikację przez innych Użytkowników oraz osoby trzecie.</li>
    <li>Komentarze reprezentujące niski poziom kultury autora będą usuwane. W celu utrzymania przejrzystości forum, usuwane będą również komentarze zawierające tylko jedno słowo lub nadmiar emotikonek.</li>
    <li>Administracja nie odpowiada za treść zamieszczanych przez Użytkowników tematów i komentarzy. Autor wątku lub komentarza powinien upewnić się, że umieszczana przez niego treść nie łamie praw autorskich oraz prawa RP.</li>
    <li>Użytkownicy rozpoczynający nowy temat powinni w odpowiednim polu wpisać co najmniej 2 tagi określające zawartość wątku. Jako tagi należy używać: rzeczowników (np. śmiech, pajac), czasowników (np. śmiać się, pajacować), przymiotników (śmieszny, śmieszna) lub nazw własnych, bezpośrednio związanych z tematem. Tagi powinny być pisane w języku polskim przy użyciu polskich liter (ź, ć, ń i in.).</li>
    <li>Przed rozpoczęciem nowego tematu, Użytkownik powinien upewnić się, że dana treść nie pojawiła się jeszcze w serwisie Geostrat.pl. Powtarzające się tematy będą usuwane.</li>
    <li>Zakazana jest reklama usług, produktów, lub innych stron internetowych bez zgody Administracji.</li>
  </ol>

  <ol><h3>V. Rola Administracji oraz Moderatorów serwisu.</h3>
    <li>Przestrzegania zasad na Forum pilnują Moderatorzy. Moderatorzy są uprawnieni do usuwania komentarzy i tematów niezgodnych z Regulaminem, oraz dawania ostrzeżeń Użytkownikom, którzy nie przestrzegają Regulaminu. Wielokrotne ostrzeżenia skutkują blokadą konta.</li>
    <li>Administracja zastrzega sobie prawo usuwania lub zablokowania kont Użytkowników notorycznie łamiących Regulamin lub działających na szkodę serwisu Geostrat.pl.</li>
    <li>Osoba stwierdzająca naruszenia swoich praw (np. do wizerunku, autorskich), bądź prawa RP powinna to zgłosić Administracji lub Moderatorowi.</li>
  </ol>
</div>

{% endblock content %}