{% extends 'blogapp/base_container.html' %}
{% load static %}

{% block content %}
<header class="p-3 border-bottom mb-5">
    <i class="fa-solid fa-book-open fa-2xl"></i>
    <span class="fs-4 ms-3">{{topic.title}}</span>
</header>

<div class="row bg-light">
  <!-- HEADER -->      
      <div class="col-lg-9 order-2 order-lg-1 user-select-none">
        {% if topic.header_image %}
        <img class="img-fluid" src="{{topic.header_image.url}}">   
        {% else %}
        <img class="img-fluid" src="{% static 'images/_defaults/default_topic.png' %}">  
        {% endif %}  
      </div>
      <!-- AUTHOR SECTION -->
      <div class="col-lg-3 order-1 order-lg-2 flex-column align-items-center border mb-3 mb-lg-0 user-select-none">        
          <p class="fst-italic text-center fs-4 mt-2">Utworzono {{topic.date_created|date:"j. E Y"}}</p>
          <p class="fst-italic text-center fs-4">przez:</p>
          <a class="link-dark" href="{% url 'users:view_account' topic.owner.username %}">             
              {% if topic.owner.bloguser.profile_picture %}
              <img class="d-block img-thumbnail rounded-circle mx-auto" style="width:70%" src='{{topic.owner.bloguser.profile_picture.url}}' alt="User_image">      
              {% else %}
              <img class="d-block img-thumbnail rounded-circle mx-auto" style="width:70%" src="{% static 'images/_defaults/default_user.png' %}" alt="default_picture"> 
              {% endif %}        
            <p class="fst-italic text-center fs-4">{{topic.owner}}</p>
          </a>
          {% if user == topic.owner %}
            <ul class="list-inline mt-4 text-center">
              <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edytuj temat">
                <a class="link-secondary" href="{% url 'blogapp:edit_topic' topic.id %}">
                  <i class="fa-solid fa-pen-to-square fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Usuń temat">
                <a class="link-secondary" href="{% url 'blogapp:delete_topic' topic.id %}">
                  <i class="fa-solid fa-trash-can fa-2x"></i>
                </a>
              </li>
              <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dodaj obraz">
                <a class="link-secondary" href="{% url 'blogapp:add_image' topic.id %}">
                  <i class="fa-solid fa-image fa-2x"></i>
                </a>
              </li>
            </ul>         
          {% endif %}          
      </div>  
  <!-- MAIN ARTICLE -->
  <div class="col-lg-9 order-3 px-4 mb-5">
    <p class="mx-3 fst-italic text-muted">{{topic.header_image_description}}</p>
    <div class="description_field pb-3"><h2 class="h4" style="text-align: justify;">{{topic.description}}</h2></div>
    <div class="py-3 parIndent border-3 border-top border-bottom">
      {{topic.text|safe}}
    </div>
    <!-- COMMENTS SECTION -->
    <div class="mt-5">
      <h5>Komentarze:</h5>      
      <ul class="list-unstyled">
        {% for comment in comments %}
        <li>
          <div class="clearfix mb-4">
            <div class="float-start">
              {% if comment.owner.bloguser.profile_picture %}
              <img class="img-fluid rounded-circle" style="width:90px;" src='{{comment.owner.bloguser.profile_picture.url}}' alt="User_image">      
              {% else %}
              <img class="nav-item user-select-none rounded-circle" style="max-height:50px;" src="{% static 'images/_defaults/default_user.png' %}" alt="default_picture"> 
              {% endif %}
            </div>
            <div class="overflow-hidden ps-2">
              <a class="text-decoration-none text-dark fw-bold ps-2" href="{% url 'users:view_account' comment.owner.username %}">{{comment.owner.bloguser.name|capfirst}}</a>
              <div class="p-2 mb-1 bg-white border rounded-3" style="font-size: 15px;">{{ comment.text }}</div>
              <span class="fs-6">Wysłano: {{comment.date_created|date:"d-m-y;"}}{{comment.date_created|time:"H:i"}}
            </div>
          </div>
        </li>
        {% empty %}
          <p class="p-3 fw-bold">Nikt nie dodał jeszcze komentarza</p>
        {% endfor %}
      </ul>
    </div>
    <!-- ADD COMMENT FORM -->
    <div class="m-0">
      {% if user.is_authenticated %}
      <form action="{% url 'blogapp:topic' topic.id %}" method ='post'>
          {% csrf_token %}
          <div class="mb-3">
            <textarea class="form-control" name="text" rows="8"></textarea>
          </div>
          <button type ='submit' class="btn btn-secondary ff-rd text-light">Dodaj komentarz</button>       
      </form>
      {% else %}
      <p class="p-3 fw-bold">Musisz być zalogowany aby móc dodawać komentarze.</p>
      {% endif %}
    </div>
  </div>
  <!-- IMAGES BAR -->
  <div class="col-lg-3 order-4 mt-5">
    {% if images %}   
      {% for image in images %}
      <div class="position-relative text-center">
        <img id = myImg{{image.id}} class="img-thumbnail myImg" src="{{image.image.url}}" alt="{{image.description}}">
        {% if user == topic.owner %}
          <form class="position-absolute bottom-0 end-0" action="{% url 'blogapp:delete_image' topic.id image.id %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Usuń obraz"><i class="fa-solid fa-trash-can text-secondary fa-2x"></i></button>
          </form>
        {% endif %}
      </div>  
      <p class ="text-center fs-5">{{image.name}}</p>       

      <div id="myModal{{image.id}}" class="myModal user-select-none">
        <span id="close{{image.id}}" class="myClose">&times;</span>
        <img id="img{{image.id}}" class="myModal-content">
        <div id="caption{{image.id}}" class="myCaption"></div>
      </div>
    
 
    <script>
    // Get the modal
    var modal = document.getElementById('myModal{{image.id}}');
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg{{image.id}}');
    var modalImg = document.getElementById("img{{image.id}}");
    var captionText = document.getElementById("caption{{image.id}}");
    img.onclick = function(){
      modal.style.display = "block";
      document.body.style.overflow = 'hidden';
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
        
        // Get the <span> element that closes the modal
        var span = document.getElementById("close{{image.id}}");
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
          modal.style.display = "none";
          document.body.style.overflow = 'visible';
        }
        </script>
      {% endfor %}
    {% endif %}
  </div>  


</div>

{% endblock content %}